* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 0 20%;
    min-height: 100vh;
}

h1 {
    margin: 2em 0;
}

h2 {
    margin: 1em 0;
}

code {
    background-color: #f4f4f4;
    padding: 5px;
    margin: 0.5em;
    border-radius: 5px;
}